:root {
    --red: #ff2e63;
    --blue: #08d9d6;
    --black: #252a34;
    --white: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

/* Inicio Menú de Navegación */
#header {
    position: relative;
    width: 100%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box {
    margin-left: 20px;

}

.menu .logo-box h1 a {
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.menu .list-container {
    margin-right: 20px;
}

.menu .list-container ul {
    display: flex;
}

.menu .list-container ul li {
    list-style: none;
}

.menu .list-container ul li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    transition: 0.3s;
    font-size: 16px;
}

.menu .list-container ul li a.activo {
    background: var(--red);
    color: #fff;
}

.menu .list-container ul li a:hover {
    background: var(--red);
    color: #fff;
}

.btn-menu>.fa-bars {
    display: none;
}

/* Fin Menú de Navegación */


/* Inicio IMG - Header */
.img-header {
    position: relative;
    width: 100%;
    height: 100vh;
    /* me quede en el min 28.07 */
}

/* Fin IMG - Header */